doctype html
//if IE 9
  html.no-js.lt-ie10(lang='es')  
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='images/imagen.jpg')
    link(rel='shortcut icon', type='image/x-icon', href='files/favicon.ico')
    title 
      block title
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', href='css/plugins.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    block custoncss
  body
    block contentbody
    
    script(src='js/plugins.js', type='text/javascript')
    script(src='js/scripts.js', type='text/javascript')
    block custonjs
