// ESTILOS GENERALES, GENERALMENTE SE APLICAN A ETIQUETAS HTML Y NO A CLASES O IDS



html
  font-size 62.5% //10px
  //1rem = 10px
  //1.5rem = 15px

  *
    font-family 'Roboto', arial, helvetica
h1
  font-size 3.5rem
h2
  font-size 3rem
h3
  font-size 2.5rem
h4
  font-size 2rem
h5
  font-size 1.6rem
h6
  font-size 1.2rem



h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin 0



//QUITAR OUTLINE A TODOS LOS ELEMENTOS
*:focus
  outline: none !important






::-webkit-input-placeholder {
   color: gray;
}
:-moz-placeholder { /* Firefox 18- */
   color: gray;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
}
:-ms-input-placeholder {
   color: gray;
}



// MENSAJE QUE INDICA QUE ESTÁS EN SOURCE
.update-browser
  width 100%
  height 100%
  position fixed
  overflow hidden
  top 0
  bottom 0
  left 0
  right 0
  background #666
  display none

  .update-browser-header
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    padding 25px
  .update-browser-link
    color white
    font-size 20px
    display block
    margin 0 auto
    width 60%
    a
      color white
      text-decoration underline


//ESTILOS GENERALES
a:link, a:visited, a:hover, a:focus
  text-decoration none

fieldset
  border none

.btn, a
  cursor pointer

/*ICONOS */
.icon-user
  sprite($icon_user)





/*check*/
	/* Custom checkbox */
	.custom-checkbox
		position relative

	.custom-checkbox input[type="checkbox"]
		opacity 0
		position absolute
		margin 5px 0 0 3px
		z-index 9
	.custom-checkbox label:before
		width 18px
		height 18px
	.custom-checkbox label:before
		content ''
		margin-right 10px
		display inline-block
		vertical-align text-top
		background white
		border 1px solid #bbb
		border-radius 2px
		box-sizing border-box
		z-index 2
	.custom-checkbox input[type="checkbox"]:checked + label:after
		content ''
		position absolute
		left 6px
		top 3px
		width 6px
		height 11px
		border solid #000
		border-width 0 3px 3px 0
		transform inherit
		z-index 3
		transform rotateZ(45deg)
	.custom-checkbox input[type="checkbox"]:checked + label:before
		border-color #03A9F4
		background #03A9F4
	.custom-checkbox input[type="checkbox"]:checked + label:after
		border-color #fff
	.custom-checkbox input[type="checkbox"]:disabled + label:before
		color #b8b8b8
		cursor auto
		box-shadow none
		background #ddd
.table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px 0;
		border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-title {
		padding-bottom: 15px;
		background: #435d7d;
		color: #fff;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
		margin: 5px 0 0;
		font-size: 24px;
	}
	.table-title .btn-group {
		float: right;
	}
	.table-title .btn {
		color: #fff;
		float: right;
		font-size: 13px;
		border: none;
		min-width: 50px;
		border-radius: 2px;
		border: none;
		outline: none !important;
		margin-left: 10px;
	}
	.table-title .btn i {
		float: left;
		font-size: 21px;
		margin-right: 5px;
	}
	.table-title .btn span {
		float: left;
		margin-top: 2px;
	}
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
		padding: 12px 15px;
		vertical-align: middle;
    }
	table.table tr th:first-child {
		width: 60px;
	}
	table.table tr th:last-child {
		width: 100px;
	}
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child i {
		opacity: 0.9;
		font-size: 22px;
        margin: 0 5px;
    }
	table.table td a {
		font-weight: bold;
		color: #566787;
		display: inline-block;
		text-decoration: none;
		outline: none !important;
	}
	table.table td a:hover {
		color: #2196F3;
	}
	table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #F44336;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table .avatar {
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 10px;
	}

h4.modal-title
  display inline-block
.form-control
  box-shadow none !important
.modal-content
  padding 25px
.datepicker-container
  z-index 99999 !important
