// jade header include file
header
	// Fixed navbar
	nav.navbar.navbar-hiro.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') CRUD OSP
			#navbar.navbar-collapse.collapse		
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							.ico.icon-user
							| Jmachuca 
							span.caret
						ul.dropdown-menu							
							li
								a(href='#') Editar Perfil
							li
								a(href='#') Cambiar Contraseña
							li.divider(role='separator')							
							li
								a(href='#') Cerrar Sesión
.content-general
	#navleft
		.menu-list
			ul#menu-content.menu-content
				li
					a(href='#')
						i.fa.fa-dashboard.fa-lg.fa-fw.sidebar-icon
						|  Dashboard
				li.active
					a(href='#')
						i.fa.fa-calendar.fa-lg.fa-fw.sidebar-icon
						|  Peliculas
				li
					a(href='#')
						i.fa.fa-bar-chart.fa-lg.fa-fw.sidebar-icon
						|  Turnos
				li
					a(href='#')
						i.fa.fa-puzzle-piece.fa-lg.fa-fw.sidebar-icon
						|  Administradores 
						span.arrow
				li
					a(href='#')
						i.fa.fa-sliders.fa-lg.fa-fw.sidebar-icon
						|  Perfil 
						span.arrow
				li
					a(href='#')
						i.fa.fa-cogs.fa-lg.fa-fw.sidebar-icon
						|  Cerrar Sesión 
						span.arrow
	#contentright
		.titulo
			h1 Peliculas
			.pull-right.acciones
				a#nuevapelicula(href="#agregarPeliculaModal", data-toggle="modal") Nueva Película
		.content-list
			table#tablepeliculas.table.table-striped.table-hover
				thead
					tr
						th
							span.custom-checkbox
								input#selectAll(type='checkbox')
								label(for='selectAll')
						th ID
						th NOMBRE
						th FECHA DE PUBLICACIÓN
						th ESTADO
						th ACCIONES
				tbody

#agregarPeliculaModal.modal.fade
	.modal-dialog
		.modal-content
			form
				.modal-header
					h4.modal-title Nueva Película
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				.modal-body
					.form-group
						label Nombre de la Película
						input.form-control(type='text', value='', name='nombre', id='nombre')
					.form-group
						label Fecha de publicación
						input.form-control(type='text', value='',data-toggle='datepicker', name='fecha', id='fecha')
					.form-group
						label Estado
						select#estado.form-control(name='estado')
							option(value="1") Activo
							option(value="0", selected="selected") Inactivo
				.modal-footer
					input.btn.btn-default(type='button', data-dismiss='modal', value='Cancelar')
					input.btn.btn-success(type='submit', value='Agregar Pelicula')
