
////////////////////////////////////////////
//// ESTILOS DE LA ESTRUCTURA DEL SITIO ////
////////////////////////////////////////////

// HEADER CSS //
header
  nav.navbar-hiro
    background $azul
    .navbar-brand
      color #fff
      padding-left 25px
    ul.nav.navbar-nav > li > a
      color #fff
      background none
      &:hover,&:focus
        background none
      .icon-user
        left -28px
        top 9px
        position absolute
      .ico, .text-user
        vertical-align middle
      .text-user
        margin-left 10px
    .text-user
      line-height 20px

// CONTENT CSS //
.content-general
  margin-top 51px
  height calc(100vh - 51px)

  // nav left
  #navleft
    width 200px
    border-right solid 1px #ececec
    height 100%
    display inline-block
    float left
    .menu-content
      list-style-type none
      padding-left 0px
      li
        line-height 50px
        border-bottom solid 1px #f7f7f7
        a
          display block
          padding-left 25px
          text-transform uppercase
          font-size 12px
          color #9b9b9b
          i
            padding-right 15px
      li.active
        a
          color $azul
          font-weight bold
  // content right
  #contentright
    margin-left 200px
    .titulo
      border-bottom solid #ececec 1px
      background-color #F5FAFC
      h1
        color #354053
        font-size 16px
        text-transform uppercase
        line-height 50px
        padding-left 27px
        display inline-block
      a
        color #005a9e
        padding 15px
        display inline-block
    .content-list
      padding 20px
